<form class="pokemon-sheet flexcol {{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="image-preview-wrapper">
      <img class="borderless" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" />
      <img class="borderless profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
    </div>
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{data.name}}"
          placeholder="Name"
        />
      </h1>
      <span class="value-wrapper">
        <label>HP: </label>
        <input
          type="number"
          name="system.health.value"
          value="{{systemData.health.value}}"
        />
        <span> / </span>
        <input
          type="number"
          name="system.health.max"
          value="{{systemData.health.max}}"
        />
      </span>
      <span class="value-wrapper text-input">
        <label>Pokemon: </label>
        <input
          type="text"
          name="system.pokedexName"
          value="{{systemData.pokedexName}}"
        />
      </span>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="biography">Bio</a>
    <a class="item" data-tab="pokedex">Pokedex</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="tools">Tools</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">-
      {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
    </div>

    {{!-- Pokedex Tab --}}
    <div class="tab pokedex" data-group="primary" data-tab="pokedex">
      <div class="header-container">
        <img width="64" height="64" src="{{ dexImg }}"/>
        <span class="pokemon-name">{{ systemData.pokedexName }}</span>
      </div>
        <pre class="pokemon-description">{{ bioText }}</pre>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="attribute-table">
        <div class="label Atk">Atk</div>
        <div class="value Atk">{{ statBlock.Atk }}</div>
        <div class="label Def">Def</div>
        <div class="value Def">{{ statBlock.Def }}</div>
        <div class="label SpAtk">SpAtk</div>
        <div class="value SpAtk">{{ statBlock.SpAtk }}</div>
        <div class="label SpDef">SpDef</div>
        <div class="value SpDef">{{ statBlock.SpDef }}</div>
        <div class="label Speed">Speed</div>
        <div class="value Speed">{{ statBlock.Speed }}</div>
      </div>
    </div>

    {{!-- Tools Tab --}}
    <div class="tab tools" data-group="primary" data-tab="tools">TOOLS</div>
  </section>
</form>
